langchain-google-genai
langchain-core
pandas
python-dotenv
pydantic
langchain-chroma
chromadb
langchain-community
langchain-text-splitters
fastapi
uvicorn[standard]
torch
transformers
accelerate
sentence-transformers
Pillow